In [27]:
import pandas as pd
import seaborn as sns

In [28]:
# Read the gapminder_lifeexpectancy.xlsx data
df = pd.read_excel('data/gapminder_lifeexpectancy.xlsx', index_col=0)

In [29]:
# Inspect the first 6 rows of the DataFrame
df.head(6)

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Life expectancy,,,,,,,,,,,,,,,,,,,,,
Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,28.21,28.20,28.19,28.18,28.17,28.16,28.15,28.14,28.13,28.12,...,52.4,52.8,53.3,53.6,54.0,54.4,54.8,54.9,53.8,52.72
Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,...,76.6,76.8,77.0,77.2,77.4,77.5,77.7,77.9,78.0,78.10
Algeria,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,...,75.3,75.5,75.7,76.0,76.1,76.2,76.3,76.3,76.4,76.50
American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,72.4,72.7,71.3,72.8,72.6,72.6,72.7,72.8,72.9,73.00

In [30]:
# Drop Null values in place
df = df.dropna()

In [31]:
# Inspect the shape of the DataFrame
df.shape

(201, 217)

In [32]:
# Inspect the first 6 rows again
df.head(6)

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Life expectancy,,,,,,,,,,,,,,,,,,,,,
Afghanistan,28.21,28.20,28.19,28.18,28.17,28.16,28.15,28.14,28.13,28.12,...,52.4,52.8,53.3,53.6,54.0,54.4,54.8,54.9,53.8,52.72
Albania,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,...,76.6,76.8,77.0,77.2,77.4,77.5,77.7,77.9,78.0,78.10
Algeria,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,...,75.3,75.5,75.7,76.0,76.1,76.2,76.3,76.3,76.4,76.50
Angola,26.98,26.98,26.98,26.98,26.98,26.98,26.98,26.98,26.98,26.98,...,56.2,56.7,57.1,57.6,58.1,58.5,58.8,59.2,59.6,60.00
Antigua and Barbuda,33.54,33.54,33.54,33.54,33.54,33.54,33.54,33.54,33.54,33.54,...,75.3,75.5,75.7,75.8,75.9,76.1,76.2,76.3,76.4,76.50
Argentina,33.20,33.20,33.20,33.20,33.20,33.20,33.20,33.20,33.20,33.20,...,75.2,75.4,75.6,75.8,76.0,76.1,76.2,76.3,76.5,76.70

### 1. Move columns into the index and out again

In [33]:
df.reset_index(inplace=True)

In [34]:
df.head()

,Life expectancy,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Afghanistan,28.21,28.20,28.19,28.18,28.17,28.16,28.15,28.14,28.13,...,52.4,52.8,53.3,53.6,54.0,54.4,54.8,54.9,53.8,52.72
1,Albania,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,...,76.6,76.8,77.0,77.2,77.4,77.5,77.7,77.9,78.0,78.10
2,Algeria,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,...,75.3,75.5,75.7,76.0,76.1,76.2,76.3,76.3,76.4,76.50
3,Angola,26.98,26.98,26.98,26.98,26.98,26.98,26.98,26.98,26.98,...,56.2,56.7,57.1,57.6,58.1,58.5,58.8,59.2,59.6,60.00
4,Antigua and Barbuda,33.54,33.54,33.54,33.54,33.54,33.54,33.54,33.54,33.54,...,75.3,75.5,75.7,75.8,75.9,76.1,76.2,76.3,76.4,76.50

In [36]:
df = df.set_index('Life expectancy')
df.head()

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Life expectancy,,,,,,,,,,,,,,,,,,,,,
Afghanistan,28.21,28.20,28.19,28.18,28.17,28.16,28.15,28.14,28.13,28.12,...,52.4,52.8,53.3,53.6,54.0,54.4,54.8,54.9,53.8,52.72
Albania,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,...,76.6,76.8,77.0,77.2,77.4,77.5,77.7,77.9,78.0,78.10
Algeria,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,...,75.3,75.5,75.7,76.0,76.1,76.2,76.3,76.3,76.4,76.50
Angola,26.98,26.98,26.98,26.98,26.98,26.98,26.98,26.98,26.98,26.98,...,56.2,56.7,57.1,57.6,58.1,58.5,58.8,59.2,59.6,60.00
Antigua and Barbuda,33.54,33.54,33.54,33.54,33.54,33.54,33.54,33.54,33.54,33.54,...,75.3,75.5,75.7,75.8,75.9,76.1,76.2,76.3,76.4,76.50

### 2. Aggregation

In [ ]:
# What are the top ten initials (first letter) of countries in the dataset

# Create a new column with the initial of the country

In [43]:
df['initials'] = df.index.str[0]
df.groupby(df['initials']).count()

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
initials,,,,,,,,,,,,,,,,,,,,,
A,11,11,11,11,11,11,11,11,11,11,...,11,11,11,11,11,11,11,11,11,11
B,17,17,17,17,17,17,17,17,17,17,...,17,17,17,17,17,17,17,17,17,17
C,18,18,18,18,18,18,18,18,18,18,...,18,18,18,18,18,18,18,18,18,18
D,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
E,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
F,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
G,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14
H,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
I,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
J,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
K,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
L,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
M,20,20,20,20,20,20,20,20,20,20,...,20,20,20,20,20,20,20,20,20,20
N,11,11,11,11,11,11,11,11,11,11,...,11,11,11,11,11,11,11,11,11,11
O,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
P,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
Q,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
R,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
S,25,25,25,25,25,25,25,25,25,25,...,25,25,25,25,25,25,25,25,25,25
T,11,11,11,11,11,11,11,11,11,11,...,11,11,11,11,11,11,11,11,11,11
U,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
V,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
W,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
Y,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Z,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2

In [44]:
# Count the values of the new column
df['initials'].count()

201

In [ ]:
# Plot the mean lifeexpectancy for each initial for 1900 and 2000


# Create the mean of the groups

In [ ]:
# Plot the result

In [ ]:
# Delete the new column

### 3. Long vs Wide Format

* long format: select single data points, move columns around
* wide format: select row/column ranges

In [ ]:
# Bring the DataFrame in wide format (many many rows, 1 column)

In [ ]:
# Bring the pd.Series back into wide format (fewer rows, many columns)

In [ ]:
# Create a DataFrame with two countries, three years, population and fertility

In [ ]:
# Set country and year as index

In [ ]:
# Create a bar plot

In [ ]:
# Convert the DataFrame into long format

In [ ]:
# Create a bar plot with the two countries as columns

In [ ]:
# Create a bar plot with the three years as columns

In [ ]:
# Create a bar plot only for one country with population and fertility as columns