In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('penguins_simple.csv', sep=';')
df

,Species,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
0,Adelie,39.1,18.7,181.0,3750.0,MALE
1,Adelie,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,36.7,19.3,193.0,3450.0,FEMALE
4,Adelie,39.3,20.6,190.0,3650.0,MALE
...,...,...,...,...,...,...
328,Gentoo,47.2,13.7,214.0,4925.0,FEMALE
329,Gentoo,46.8,14.3,215.0,4850.0,FEMALE
330,Gentoo,50.4,15.7,222.0,5750.0,MALE
331,Gentoo,45.2,14.8,212.0,5200.0,FEMALE
332,Gentoo,49.9,16.1,213.0,5400.0,MALE

Species: categorical variables, string
Culmen Length/Depth, Flipper Length, Body Mass: metric variables, float
Sex: categorical variables, string

In [3]:
female = df.Sex=='FEMALE'
male = df.Sex=='MALE'
df.corr()

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g)
Culmen Length (mm),1.000000,-0.228626,0.653096,0.589451
Culmen Depth (mm),-0.228626,1.000000,-0.577792,-0.472016
Flipper Length (mm),0.653096,-0.577792,1.000000,0.872979
Body Mass (g),0.589451,-0.472016,0.872979,1.000000

In [4]:
adelie = df.Species=='Adelie'
df[adelie].corr()

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g)
Culmen Length (mm),1.000000,0.385813,0.332274,0.544276
Culmen Depth (mm),0.385813,1.000000,0.310897,0.580156
Flipper Length (mm),0.332274,0.310897,1.000000,0.464854
Body Mass (g),0.544276,0.580156,0.464854,1.000000

In [5]:
df[female&adelie].corr()

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g)
Culmen Length (mm),1.000000,0.160636,-0.037240,0.170095
Culmen Depth (mm),0.160636,1.000000,0.064044,0.396937
Flipper Length (mm),-0.037240,0.064044,1.000000,0.262930
Body Mass (g),0.170095,0.396937,0.262930,1.000000

In [6]:
df[male&adelie].corr()

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g)
Culmen Length (mm),1.000000,-0.038247,0.313488,0.220370
Culmen Depth (mm),-0.038247,1.000000,0.185328,0.159558
Flipper Length (mm),0.313488,0.185328,1.000000,0.360434
Body Mass (g),0.220370,0.159558,0.360434,1.000000

In [7]:
gentoo = df.Species=='Gentoo'
df[gentoo].corr()

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g)
Culmen Length (mm),1.000000,0.654023,0.664205,0.666730
Culmen Depth (mm),0.654023,1.000000,0.710642,0.722967
Flipper Length (mm),0.664205,0.710642,1.000000,0.711305
Body Mass (g),0.666730,0.722967,0.711305,1.000000

In [8]:
df[female&gentoo].corr()

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g)
Culmen Length (mm),1.000000,0.430444,0.206881,0.271926
Culmen Depth (mm),0.430444,1.000000,0.307793,0.371881
Flipper Length (mm),0.206881,0.307793,1.000000,0.487618
Body Mass (g),0.271926,0.371881,0.487618,1.000000

In [9]:
df[male&gentoo].corr()

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g)
Culmen Length (mm),1.000000,0.306767,0.520438,0.391310
Culmen Depth (mm),0.306767,1.000000,0.470975,0.253457
Flipper Length (mm),0.520438,0.470975,1.000000,0.330452
Body Mass (g),0.391310,0.253457,0.330452,1.000000

In [10]:
chinstrap = df.Species=='Chinstrap'
df[chinstrap].corr()

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g)
Culmen Length (mm),1.000000,0.653536,0.471607,0.513638
Culmen Depth (mm),0.653536,1.000000,0.580143,0.604498
Flipper Length (mm),0.471607,0.580143,1.000000,0.641559
Body Mass (g),0.513638,0.604498,0.641559,1.000000

In [11]:
df[female&chinstrap].corr()

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g)
Culmen Length (mm),1.000000,0.256317,0.121909,0.275594
Culmen Depth (mm),0.256317,1.000000,0.135474,0.391344
Flipper Length (mm),0.121909,0.135474,1.000000,0.242150
Body Mass (g),0.275594,0.391344,0.242150,1.000000

In [12]:
df[male&chinstrap].corr()

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g)
Culmen Length (mm),1.000000,0.446270,0.169109,0.238285
Culmen Depth (mm),0.446270,1.000000,0.421323,0.345404
Flipper Length (mm),0.169109,0.421323,1.000000,0.664588
Body Mass (g),0.238285,0.345404,0.664588,1.000000