In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('penguins_simple.csv', sep=';')
df

,Species,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
0,Adelie,39.1,18.7,181.0,3750.0,MALE
1,Adelie,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,36.7,19.3,193.0,3450.0,FEMALE
4,Adelie,39.3,20.6,190.0,3650.0,MALE
...,...,...,...,...,...,...
328,Gentoo,47.2,13.7,214.0,4925.0,FEMALE
329,Gentoo,46.8,14.3,215.0,4850.0,FEMALE
330,Gentoo,50.4,15.7,222.0,5750.0,MALE
331,Gentoo,45.2,14.8,212.0,5200.0,FEMALE
332,Gentoo,49.9,16.1,213.0,5400.0,MALE

Species: categorical variables, string
Culmen Length/Depth, Flipper Length, Body Mass: metric variables, float
Sex: categorical variables, string

In [24]:
female = df.Sex=='FEMALE'
df.corr()

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g)
Culmen Length (mm),1.000000,-0.228626,0.653096,0.589451
Culmen Depth (mm),-0.228626,1.000000,-0.577792,-0.472016
Flipper Length (mm),0.653096,-0.577792,1.000000,0.872979
Body Mass (g),0.589451,-0.472016,0.872979,1.000000

In [26]:
adelie = df.Species=='Adelie'
df[adelie].corr()
df[female].corr()
df[]

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g)
Culmen Length (mm),1.000000,-0.426380,0.571474,0.581295
Culmen Depth (mm),-0.426380,1.000000,-0.794167,-0.747770
Flipper Length (mm),0.571474,-0.794167,1.000000,0.884825
Body Mass (g),0.581295,-0.747770,0.884825,1.000000

In [20]:
gentoo = df.Species=='Gentoo'
df[gentoo].corr()

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g)
Culmen Length (mm),1.000000,0.654023,0.664205,0.666730
Culmen Depth (mm),0.654023,1.000000,0.710642,0.722967
Flipper Length (mm),0.664205,0.710642,1.000000,0.711305
Body Mass (g),0.666730,0.722967,0.711305,1.000000

In [22]:
chinstrap = df.Species=='Chinstrap'
df[chinstrap].corr()

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g)
Culmen Length (mm),1.000000,0.653536,0.471607,0.513638
Culmen Depth (mm),0.653536,1.000000,0.580143,0.604498
Flipper Length (mm),0.471607,0.580143,1.000000,0.641559
Body Mass (g),0.513638,0.604498,0.641559,1.000000